
<!-- form to edit logs previously posted -->
<div id="saved_section" style="margin-left:5vw">
    <form method="POST" action="/saved/logs/<%=log.activityId%>/<%=log.id%>?_method=PUT" class="row g-3" style="width:50rem">
        <div class="col-12">
            <label for="title:">Title:</label>
            <input type="text" class="form-control" value="<%=log.title%>" name="title" required>
          </div>
          <div class="col-12">
            <label for="content">Content:</label>
            <textarea type="text" class="form-control" name="content" required><%=log.content%></textarea>
          </div>        
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>

