<form method="POST" action="/saved/logs/<%=log.activityId%>/<%=log.id%>?_method=PUT">
    <label>title</label>
    <input value="<%=log.title%>" name="title">
    <label>content</label>
    <textarea name="content"><%=log.content%></textarea>

    <button type="submit">Submit Changes</button>
</form>

