<head>
    <style>
        body {
            background-image: url("background.jpg");
            height: 100vh;            
        }
    </style>
</head>

<div style="margin-left: 4vw" id="space">
    <h2>What are your plans for ThisWeekend ?</h2>
    <h4>Select an area to explore for ideas 💡 and create your own todo list ✅ </h4>
</div>



    <div class="container text-center" style="margin-top:3rem">
        <div class="row g-0 d-flex justify-content-center" >
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark" >
                <a href="/education" class= "card" style="height:17rem">
                    <h5 class="card-header">Education</h5>
                    <img class="p-3 mb-2 bg-transparent" src="edu.png" alt="edu" height="240"/></a>
            </div>
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/diy" class= "card" style="height:17rem"><h5 class="card-header">DIY</h5><img class="p-3 mb-2 bg-transparent" src="diy.png" alt="diy" height="240"/></a>
            </div>
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/relaxation" class= "card" style="height:17rem"><h5 class="card-header">Relaxation</h5>
                <img class="p-3 mb-2 bg-transparent"src="relax.png" alt="relax" height="240"/></a>
            </div>
        </div>
        <div class="row g-0 d-flex justify-content-center">
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/recreational" class= "card" style="height:17rem"><h5 class="card-header">Recreational</h5>
                    <img class="p-3 mb-2 bg-transparent" src="recreation.png" alt="recreation" height="240"/></a>
            </div>
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/social" class= "card" style="height:17rem"><h5 class="card-header">Social</h5>
                    <img class="p-3 mb-2 bg-transparent" src="social.png" alt="social" height="240"/></a>
            </div>
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/charity" class= "card" style="height:17rem"><h5 class="card-header">Charity</h5>
                    <img class="p-3 mb-2 bg-transparent" src="charity.png" alt="charity" height="240"/></a>
            </div>
        </div>
        <div class="row g-0 d-flex justify-content-center">
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/cooking" class= "card" style="height:17rem"><h5 class="card-header">Cooking</h5>
                    <img class="p-3 mb-2 bg-transparent" src="cooking.png" alt="cooking" height="240"/></a>
            </div>
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/music" class= "card" style="height:17rem"><h5 class="card-header">Music</h5>
                    <img class="p-3 mb-2 bg-transparent" src="music.png" alt="music" height="240"/></a>
            </div>
            <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
                <a href="/busywork" class= "card" style="height:17rem"><h5 class="card-header">Busywork</h5>
                    <img class="p-3 mb-2 bg-transparent" src="busy.png" alt="busywork" height="240"/></a>
            </div>
        </div>
    </div>


<footer style="margin-top: 10rem"><a href="https://www.freepik.com/free-vector/cloud-background-vector-cute-desktop-wallpaper_18247701.htm#&position=2&from_view=detail">Image by rawpixel.com</a> on Freepik</footer>