<h2>Select Area to Explore for Inspirations!</h2>


<div class="container text-center">
    <div class="row d-flex align-items-center">
        <div class="col">
            <a href="/education" class="card" style="width:20rem;height:20rem">Education</a>
        </div>
        <div class="col">
            <a href="/diy" class="card" style="width:20rem;height:20rem">diy</a>
        </div>
        <div class="col">
            <a href="/relaxation" class="card" style="width:20rem;height:20rem">relaxation</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/recreational" class="card" style="width:20rem;height:20rem">recreational</a>
        </div>
        <div class="col">
            <a href="/social" class="card" style="width:20rem;height:20rem">social</a>
        </div>
        <div class="col">
            <a href="/charity" class="card" style="width:20rem;height:20rem">charity</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/cooking" class="card" style="width:20rem;height:20rem">cooking</a>
        </div>
        <div class="col">
            <a href="/music" class="card" style="width:20rem;height:20rem">music</a>
        </div>
        <div class="col">
            <a href="/busywork" class="card" style="width:20rem;height:20rem">busywork</a>
        </div>
    </div>
</div>