<head>
    <style>
        body {
            background-image: url("background.jpg");
            height: 100vh;
        }
    </style>
</head>

<h2>Select Area to Explore for Inspirations!</h2>


<div class="container text-center">
    <div class="row g-0" >
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark" >
            <a href="/education" class= "card" style="height:17rem">
                <h5 class="card-header">Education</h5>
                <img class="p-3 mb-2 bg-transparent" src="edu.png" alt="edu" height="240"/></a>
        </div>
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/diy" class= "card" style="height:17rem"><h5 class="card-header">DIY</h5><img class="p-3 mb-2 bg-transparent" src="diy.png" alt="diy" height="240"/></a>
        </div>
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/relaxation" class= "card" style="height:17rem"><h5 class="card-header">Relaxation</h5>
            <img class="p-3 mb-2 bg-transparent"src="relax.png" alt="relax" height="240"/></a>
        </div>
    </div>
    <div class="row g-0">
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/recreational" class= "card" style="height:17rem"><h5 class="card-header">Recreational</h5>
                <img class="p-3 mb-2 bg-transparent" src="recreation.png" alt="recreation" height="240"/></a>
        </div>
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/social" class= "card" style="height:17rem"><h5 class="card-header">Social</h5>
                <img class="p-3 mb-2 bg-transparent" src="social.png" alt="social" height="240"/></a>
        </div>
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/charity" class= "card" style="height:17rem"><h5 class="card-header">Charity</h5>
                <img class="p-3 mb-2 bg-transparent" src="charity.png" alt="charity" height="240"/></a>
        </div>
    </div>
    <div class="row g-0">
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/cooking" class= "card" style="height:17rem"><h5 class="card-header">Cooking</h5>
                <img class="p-3 mb-2 bg-transparent" src="cooking.png" alt="cooking" height="240"/></a>
        </div>
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/music" class= "card" style="height:17rem"><h5 class="card-header">Music</h5>
                <img class="p-3 mb-2 bg-transparent" src="music.png" alt="music" height="240"/></a>
        </div>
        <div style="width:20rem" class="col-sm-4 card p-3 mb-2 bg-transparent text-dark">
            <a href="/busywork" class= "card" style="height:17rem"><h5 class="card-header">Busywork</h5>
                <img class="p-3 mb-2 bg-transparent" src="busy.png" alt="busywork" height="240"/></a>
        </div>
    </div>
</div>