<h2>Select Area to Explore for Inspirations!</h2>


<div class="container text-center">
    <div class="row g-0">
        <div class="col-sm-4">
            <a href="/education" class= "card" style="height:18rem">
                <h5>Education</h5>
            <img src="edu.png" alt="edu" height="250"/></a>
        </div>
        <div class="col">
            <a href="/diy" class= "card" style="height:18rem"><h5>DIY</h5><img src="diy.png" alt="diy" height="250"/></a>
        </div>
        <div class="col-sm-4">
            <a href="/relaxation" class= "card" style="height:18rem"><h5>Relaxation</h5>
            <img src="relax.png" alt="relax" height="250"/></a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-sm-4">
            <a href="/recreational" class= "card" style="height:18rem"><h5>Recreational</h5>
                <img src="recreation.png" alt="recreation" height="250"/></a>
        </div>
        <div class="col-sm-4">
            <a href="/social" class= "card" style="height:18rem"><h5>Social</h5>
                <img src="social.png" alt="social" height="250"/></a>
        </div>
        <div class="col-sm-4">
            <a href="/charity" class= "card" style="height:18rem"><h5>Charity</h5>
                <img src="charity.png" alt="charity" height="250"/></a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-sm-4">
            <a href="/cooking" class= "card" style="height:18rem"><h5>Cooking</h5>
                <img src="cooking.png" alt="cooking" height="250"/></a>
        </div>
        <div class="col-sm-4">
            <a href="/music" class= "card" style="height:18rem"><h5>Music</h5>
                <img src="music.png" alt="music" height="250"/></a>
        </div>
        <div class="col-sm-4">
            <a href="/busywork" class= "card" style="height:18rem"><h5>Busywork</h5>
                <img src="busy.png" alt="busywork" height="250"/></a>
        </div>
    </div>
</div>