<h2>Select Area to Explore for Inspirations!</h2>


<div class="container text-center">
    <div class="row g-0" >
        <div class="col-sm-4 card text-dark bg-info mb-3" >
            <a href="/education" class= "card" style="height:18rem">
                <h5 class="card-header">Education</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="edu.png" alt="edu" height="250"/></a>
        </div>
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/diy" class= "card" style="height:18rem"><h5 class="card-header">DIY</h5><img class="p-3 mb-2 bg-dark text-white" src="diy.png" alt="diy" height="250"/></a>
        </div>
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/relaxation" class= "card" style="height:18rem"><h5 class="card-header">Relaxation</h5>
            <img class="p-3 mb-2 bg-dark text-white"src="relax.png" alt="relax" height="250"/></a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/recreational" class= "card" style="height:18rem"><h5 class="card-header">Recreational</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="recreation.png" alt="recreation" height="250"/></a>
        </div>
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/social" class= "card" style="height:18rem"><h5 class="card-header">Social</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="social.png" alt="social" height="250"/></a>
        </div>
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/charity" class= "card" style="height:18rem"><h5 class="card-header">Charity</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="charity.png" alt="charity" height="250"/></a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/cooking" class= "card" style="height:18rem"><h5 class="card-header">Cooking</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="cooking.png" alt="cooking" height="250"/></a>
        </div>
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/music" class= "card" style="height:18rem"><h5 class="card-header">Music</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="music.png" alt="music" height="250"/></a>
        </div>
        <div class="col-sm-4 card text-dark bg-info mb-3">
            <a href="/busywork" class= "card" style="height:18rem"><h5 class="card-header">Busywork</h5>
                <img class="p-3 mb-2 bg-dark text-white" src="busy.png" alt="busywork" height="250"/></a>
        </div>
    </div>
</div>