<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles.css">
    <title>ThisWeekend</title>
    <style>
        body {
            background-image: url("background.jpg");
            height: 100vh;
        }
        a:link {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light nav nav-tabs">
        <div class="container-fluid">
            <div class="nav justify-content-start">
            <a class="navbar-brand" href="/">Home</a>
                <!-- if the user is logged in -->
                <!-- all data in res.locals is usable in layout -->
                <% if (user) { %>
                    <a class="nav-link" href="/saved/all">Saved List</a>
                    <a class="nav-link" href="/recommendations/all">Recommendations</a>
                    <a class="nav-link" href="/feed/all">Feed</a>
                </div>
                    <div class="nav justify-content-end">
                        <a class="nav-link" href="/users/profile">Logged in as <%= user.name %></a>
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </div>

           
                <%} else { %>
                    <div class="nav justify-content-end">
                        <a class="nav-link" href="/users/new">Sign Up</a>
                        <a class="nav-link" href="/users/login">Login</a>
                    </div>
                <%} %>
        </div>
    </nav>

    <%- body %>
</body>

</html>