<h4>Post a review for <%= activity.type %>:</h4>
<h5>"<%= activity.activity %>"</h5>

<form method="POST" action="/reviews/<%=user.id%>/<%=activity.id%>">
    <label>Review</label>
    <input type="text" name="title" required>
    <label>Rating (1-5)</label>
    <select name="rating" required>
        <option value="5" selected>5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    <label>Resource (optional)</label>
    <input type="text" name="resource">
    <label>Detailed Review (optional)</label>
    <textarea name="content"></textarea>
    <button type="submit">Post</button>
</form>

