<h4>Post a recommendation for <%= activity.type %>:</h4>
<h5>"<%= activity.activity %>"</h5>

<form method="POST" action="/recommendations/<%=user.id%>/<%=activity.id%>">
    <label>title</label>
    <input type="text" name="title" required>
    <label>Rating (1-5)</label>
    <input type="number" name="rating" required>
    <label>Resource (optional)</label>
    <input type="text" name="resource">
    <label>content (optional)</label>
    <textarea name="content"></textarea>
    <button type="submit">Post</button>
</form>