<h2>Recommendations Feed</h2>
<a href="/recommendations/<%=user.id%>">click to view recommendations you posted</a>

<h5>View by Category:</h5>
<nav>
    <a href="/recommendations/education">education</a>
    <a href="/recommendations/relaxation">relaxation</a>
    <a href="/recommendations/diy">diy</a>
    <a href="/recommendations/recreational">recreational</a>
    <a href="/recommendations/social">social</a>
    <a href="/recommendations/charity">charity</a>
    <a href="/recommendations/cooking">cooking</a>
    <a href="/recommendations/music">music</a>
    <a href="/recommendations/busywork">busywork</a>
</nav>
<% recs.forEach(rec => {%>
        <h5>Post by: <%= user.name%></h5>
        <h5><%= rec.title%> </h5>
        <p><%= rec.content%></p>   
    <%})%>
 