<a href="/recommendations/all">To Feed</a>
<h4>Recommendations Posted by you</h4>


<% if(user) { %>
    <% recs.forEach(rec => { %>
        <h5><%= rec.title%> </h5>
        <p><%= rec.content%></p>

        <form method="POST" action ="/recommendations/users/<%= rec.userId%>/<%=rec.activityId%>?_method=DELETE">
            <input type="submit" value="delete post">
        </form>
    <%})}%>