<% if(message) { %>
    <p><%= message %></p>

<%}%>




<form action="/users/login" method="POST">
    <div class="form-group">
      <label for="email">Email address</label>
      <input id="email" type="email" name="email" class="form-control" placeholder="enter email">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" class="form-control" placeholder="enter password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
