<form action="/users" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" required>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required>

    <label for="name">Username:</label>
    <input id="name" type="name" name="name" required>

    <label for="city">City:</label>
    <input id="city" type="city" name="city" required>

    <label for="state">State:</label>
    <input id="state" type="state" name="state" required>

    <label for="photo">Photo URL:</label>
    <input id="photo" type="photo" name="photo" >

    <button type="submit">Sign Up</button>

</form>