<div id="saved_section">
    <form action="/users" method="POST" enctype="multipart/form-data" class="d-flex justify-content-center">
        <div class="form-group" style="width:25rem">
            <label for="formGroupExampleInput">Email:</label>
            <input type="email" name="email" class="form-control" id="formGroupExampleInput" placeholder="enter email" required>
        
            <label for="password">Password:</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="enter password" required>
        
            <label for="name">Username:</label>
            <input class="form-control" id="name" type="name" name="name" placeholder="enter username" required>
        
            <label for="city">City:</label>
            <input class="form-control" id="city" type="city" name="city" placeholder="enter city" required>
        
            <label for="state">State:</label>
            <input class="form-control" id="state" type="state" name="state" placeholder="enter state" required>
        
            <label for="photo">Photo:</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="photo">

            </div>            
              </div>             
    
            </div>     
            <div class="d-flex justify-content-center">
                <button style="margin-top: 2em" class="btn btn-primary" type="submit">Sign Up</button>
            </div>
    </form>
</div>